.cell {
    border: 1px dotted gray;
    color: black;
    cursor: pointer;
    float: left;
    font-family: "Cambria", "Sans-serif", "Arial";
    font-size: 18px;
    height: 50px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50px;
}

.blank:focus {
    background: rgba(194, 78, 0, 0.644) !important;
}

.blank-false {
    font-weight: 600;
}