.board {
    height: 450px;
    margin: 100px auto 20px auto;
    width: 450px;
}

@media screen and (max-width: 960px) {
    .board {
        height: 315px;
        margin: 50px auto 20px auto;
        width: 315px;
    }
}