.board {
    height: 450px;
    margin: 50px auto 20px auto;
    width: 450px;
}

@media screen and (max-width: 768px) {
    .board {
        height: 405px;
        width: 405px;
    }
}

@media screen and (max-width: 420px) {
    .board {
        height: 315px;
        width: 315px;
    }
}