.board {
    height: 450px;
    margin: 10px auto 20px auto;
    width: 450px;
}

.errors {
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .board {
        height: 540px;
        width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .board {
        height: 405px;
        width: 405px;
    }
}

@media screen and (max-width: 420px) {
    .board {
        height: 315px;
        width: 315px;
    }
}