.cellDiv {
    border: 1px solid black;
    display: inline-block;
    height: 35px;
    margin: 0;
    text-align: center;
    width: 35px;    
}

#buttons {
    margin: 10px auto;
}

#newGame, 
#showSolution {
    width: 100px;
}

#sudoku {
    font-size: 20px;
    margin: 50px auto;
    max-width: 320px;
    padding: 0;
}