.clock {
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .clock {
        bottom: 100px;
        margin-top: 35px;
        position: absolute;
        width: 315px;
    }
}