.clock {
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .clock {
        bottom: 90px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        width: 315px;
    }
}