.button {
  margin-right: 3px;
  width: 222px;
}

.buttons {
  margin: 20px auto;
  text-align: center;
  width: 450px;
}

@media screen and (max-width: 960px) {

  .button {
    width: 315px;
  }

  .buttons {
    margin-top: 10px;
    width: 315px;
  }

  #solveGame {
    margin-top: 5px;
  }
}
