.button {
  margin-right: 3px;
  width: 222px;
}

.buttons {
  margin: 20px auto;
  text-align: center;
  width: 450px;
}

.container {
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .button {
    width: 405px;
  }

  .buttons {
    margin-top: 10px;
    width: 405px;
  }

  #solveGame {
    margin-top: 5px;
  }
}

@media screen and (max-width: 420px) {

  .button {
    width: 315px;
  }

  .buttons {
    width: 315px;
  }

}
