.button {
  margin-right: 6px;
  width: 222px;
}

.buttons {
  margin: 20px auto;
  text-align: center;
  width: 450px;
}

.container {
  padding: 0 !important;
}

.backgroundSpan {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.result-null {
  background: white;
}

.result-solved {
  background: rgba(255, 0, 0, 0.815);
}

.result-complete {
  background: rgba(0, 128, 0, 0.575);
}

#solveGame {
  margin-right: 0px;
}

#bestTime {
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
  width: 450px;
}

#bestTime p {
  font-size: 14px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .button {
    width: 540px;
  }

  .buttons {
    width: 540px;
  }

  #solveGame {
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 405px;
  }

  .buttons {
    width: 405px;
  }
}

@media screen and (max-width: 420px) {

  .button {
    width: 315px;
  }

  .buttons {
    width: 315px;
  }

}
